.chat-page {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.chat-page .header-body {
	margin: 0;
	border-radius: 0;
	border: 1px solid white;
}

.sidebar {
	flex-grow: 1;
	width: 15%;
	background-color: rgba(74, 102, 104, 0.3);
	color: white;
	border: 1px solid white;
}

.first-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1em;
}

.first-line button:not(:last-child) {
	margin-right: 10px;
}

.icons {
	margin-right: 10px;
}

.channels-text {
	margin-left: 10px;
}

.sidebar i.fas {
	font-size: 12px;
}