.left-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-content {
    display: flex;
    height: calc(100% - 60px);
}

.chat-sidebar {
    width: 20%;
    background-color: rgba(74, 102, 104, 0.3);
    margin-left: 2.5em;
    padding: 1em;
}

.channel-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}
.channel-line button:not(:last-child) {
    margin-right: 15px;
}

.privateMessages-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

/* Responsive */
/* @media (min-width: 992px) { 
    .chat-sidebar {
        width: 20%;
    }
} */