
.chanbutton-container {
    display: flex;
    flex-direction: column;
}

.search-bar {
    margin-left: 7%;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 5px;
    width: 80%;
    margin-bottom: 20px;
}

.chanbutton {
    display: inline-block;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.1s;
}

.chanbutton:hover {
    background-color: #008080;
}

.chanbutton:active {
    background-color: #008080;
}
