.content-body {
    /* background-color: white; */
    background-color: rgba(74, 102, 104, 0.3);
    /* opacity: 0.5; */
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
    text-align: center;
}

.content-body a {
    color: rgb(162, 189, 243);
}

.header-body {
    background-color: rgba(74, 102, 104, 0.3);
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: white;
}

.header-settings {
    /* text-align: right; */

}