.blockage-notification {
	position: fixed;
	bottom: 20px;
	left: 20px;
	background: white;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
	border-radius: 4px;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 10px;
	z-index: 100;
}

.blockage-notification-content {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.blockage-notification-icon {
	color: red;
	margin-right: 10px;
}

.blockage-notification-message {
	flex: 1;
}

.blockage-notification-close {
	border: none;
	background: none;
	cursor: pointer;
}

.blockage-notification-message {
	flex: 1;
	color: black;
}
